@use './styles/variables';
@use './styles/typography';
@use './styles/utilities';

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background: variables.$color-background;
  color: variables.$color-text-primary;
}

* {
  box-sizing: border-box;
}

.coffee-gourmet-login-dialog {
  .mat-mdc-dialog-container {
    padding: 0 !important;
  }
}


.cdk-overlay-backdrop {
  background: rgba(0, 0, 0, 0.62);
}